@import "reset.css";

body {
  overflow: hidden;
}

main {
  background: #D7D5D5;
  width: 100vw;
  height: 100vh;
}


.main__rectangle {
  width: 300px;
  height: 300px;

  background: #090808;

  position: absolute;
  top: 30px;
  left: 120px;

  /* transform: rotate(80deg); */

  z-index: 4;
}

.main__rectangle__2 {
  width: 100px;
  height: 400px;

  background: #7B6060;

  position: absolute;
  top: 70px;
  right: 240px;

  /* transform: rostate(40deg); */

  z-index: 2;
}

.main__rectangle__3 {
  width: 50px;
  height: 200px;

  background: #B6B3AA;
  position: absolute;
  z-index: 5;
}

.main__circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: #687163;

  position: absolute;
  bottom: 120px;
  right: 450px;

  z-index: 6;
}

.main__circle__2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background: #C2CBBE;
  position: absolute;
  z-index: 4;
}
