@import "reset.css";

body {
  overflow: hidden;
}

main {
  background: #D7D5D5;
  width: 100vw;
  height: 100vh;
}


.main__rectangle {
  width: 300px;
  height: 300px;

  background: #090808;

  position: absolute;
  top: 30px;
  left: 120px;

  /* transform: rotate(80deg); */
  transform: translateX(0px) rotate(30deg);

  z-index: 4;
}

.main__rectangle__2 {
  width: 100px;
  height: 400px;

  background: #7B6060;

  position: absolute;
  top: 70px;
  right: 240px;

  /* transform: rostate(40deg); */

  z-index: 2;
}

.main__rectangle__3 {
  width: 50px;
  height: 200px;

  background: #B6B3AA;

  position: absolute;
  top: 40px;
  left: 500px;

  z-index: 5;
}

.main__rectangle__4 {
  width: 50px;
  height: 600px;

  background: #B4AC93;

  position: absolute;
  top: 30px;
  right: 70px;

  z-index: 2;
}

.main__rectangle__5 {
  width: 50px;
  height: 600px;

  background: #fff;

  position: absolute;
  bottom: 40px;
  right: 270px;

  z-index: 8;
}

.main__rectangle__6 {
  width: 450px;
  height: 800px;

  background: #A39F92;

  position: absolute;
  bottom: 40px;
  right: 170px;

  z-index: 1;
}


.main__circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: #687163;

  position: absolute;
  bottom: 120px;
  right: 450px;

  z-index: 6;
}

.main__circle__2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background: #C2CBBE;

  position: absolute;
  bottom: 148px;
  left: 300px;
  z-index: 4;
}
